<a href="https://colab.research.google.com/github/st7954/CodechefSRMtask/blob/master/Codecheftask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import scale, MinMaxScaler
import pandas as pd
import numpy as np
from tensorflow.keras.layers import Dense

### DATA

In [2]:
df = pd.read_csv('/content/drive/My Drive/colab notebooks/Datasets/cars.csv')
df.head()

   v.id  on road old  on road now  years  ...   hp  torque  buying price  profit
0     1       781997       881997     10  ...   58     194        461803        6
1     2       553464       643464      9  ...   81     189        273747       14
2     3      1175130      1275130     10  ...  104      95        852711       11
3     4       884824       924824      4  ...  125     122        701224       11
4     5       412866       462866      5  ...   89     114        213995        3

[5 rows x 13 columns]

In [3]:
x = df.drop(columns=['buying price','v.id','profit '])
y = df['buying price']

x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0) # splitting the data
x_train = scale(x_train)                                             # Scaling
x_test = scale(x_test)

### MODEL

In [4]:
model = Sequential()
model.add(Dense(32,activation='relu',input_shape=(10,)))    # input shape for the dense layer
model.add(Dense(64,activation='relu'))
model.add(Dense(1,activation='linear'))

model.compile(optimizer='adam',loss='mse',metrics=['mse'])  #compiling the model

In [5]:
history = model.fit(x_train,y_train,epochs=300,verbose=0)   #training the model

In [6]:
result = model.predict(x_test)                              #predictions
rmse = np.sqrt(mean_squared_error(result,y_test))           #storing the rmse values
score = r2_score(result,y_test)                             #score has the value of r2_score

In [7]:
print(f'RMSE: {rmse}')
print(f'R2_SCORE: {score}')                                 
dictionary = history.history
rmse_scale = MinMaxScaler(feature_range=(0,100))
dictionary['mse'] = np.array(dictionary['mse'])
dictionary['mse'] = dictionary['mse'].reshape(-1,1)          
print(rmse_scale.fit_transform(dictionary['mse']))   #printing out the rmse values

RMSE: 45625.87183002923
R2_SCORE: 0.9702588295589254
[[1.00000000e+02]
 [9.99981151e+01]
 [9.99924603e+01]
 [9.99792845e+01]
 [9.99542234e+01]
 [9.99130431e+01]
 [9.98515001e+01]
 [9.97634847e+01]
 [9.96467034e+01]
 [9.94964764e+01]
 [9.93098510e+01]
 [9.90831781e+01]
 [9.88112764e+01]
 [9.84974516e+01]
 [9.81338390e+01]
 [9.77214135e+01]
 [9.72585224e+01]
 [9.67430115e+01]
 [9.61722901e+01]
 [9.55429134e+01]
 [9.48591434e+01]
 [9.41129575e+01]
 [9.33033624e+01]
 [9.24344990e+01]
 [9.15010286e+01]
 [9.05013260e+01]
 [8.94220948e+01]
 [8.82814784e+01]
 [8.70751684e+01]
 [8.58021529e+01]
 [8.44753382e+01]
 [8.30758567e+01]
 [8.16223534e+01]
 [8.01138717e+01]
 [7.85483504e+01]
 [7.69391788e+01]
 [7.52789288e+01]
 [7.35841421e+01]
 [7.18364895e+01]
 [7.00522806e+01]
 [6.82465994e+01]
 [6.63936607e+01]
 [6.45319242e+01]
 [6.26343139e+01]
 [6.07275297e+01]
 [5.88059725e+01]
 [5.68633749e+01]
 [5.49313300e+01]
 [5.29852922e+01]
 [5.10487996e+01]
 [4.91124510e+01]
 [4.71983453e+01]
 [4.52830419e+01]
 [4.34019733e+01]
 [4.15310722e+01]
 [3.96928321e+01]
 [3.78855376e+01]
 [3.61138964e+01]
 [3.43811142e+01]
 [3.26871493e+01]
 [3.10464634e+01]
 [2.94399381e+01]
 [2.78955200e+01]
 [2.63983269e+01]
 [2.49547008e+01]
 [2.35710856e+01]
 [2.22458030e+01]
 [2.09836002e+01]
 [1.97739777e+01]
 [1.86328959e+01]
 [1.75470768e+01]
 [1.65274816e+01]
 [1.55666636e+01]
 [1.46686641e+01]
 [1.38255373e+01]
 [1.30461844e+01]
 [1.23168943e+01]
 [1.16449306e+01]
 [1.10233037e+01]
 [1.04525765e+01]
 [9.92780343e+00]
 [9.44571493e+00]
 [9.00448817e+00]
 [8.60234037e+00]
 [8.23427022e+00]
 [7.89735576e+00]
 [7.58844463e+00]
 [7.30339905e+00]
 [7.04228635e+00]
 [6.80289373e+00]
 [6.58171714e+00]
 [6.37681479e+00]
 [6.18700861e+00]
 [6.00859840e+00]
 [5.84096727e+00]
 [5.68249320e+00]
 [5.53209734e+00]
 [5.38814258e+00]
 [5.25108681e+00]
 [5.11888609e+00]
 [4.99164140e+00]
 [4.86818687e+00]
 [4.74917651e+00]
 [4.63372996e+00]
 [4.52031690e+00]
 [4.41063160e+00]
 [4.30472978e+00]
 [4.20100477e+00]
 [4.09999456e+00]
 [4.00200469e+00]
 [3.90653693e+00]
 [3.81386957e+00]
 [3.72286253e+00]
 [3.63591985e+00]
 [3.55028118e+00]
 [3.46822576e+00]
 [3.38692535e+00]
 [3.30948734e+00]
 [3.23360404e+00]
 [3.15951020e+00]
 [3.08750409e+00]
 [3.01779987e+00]
 [2.95007807e+00]
 [2.88387180e+00]
 [2.81965781e+00]
 [2.75781737e+00]
 [2.69707609e+00]
 [2.63862885e+00]
 [2.58195946e+00]
 [2.52596790e+00]
 [2.47172111e+00]
 [2.41911694e+00]
 [2.36783506e+00]
 [2.31720721e+00]
 [2.26806792e+00]
 [2.21979245e+00]
 [2.17359805e+00]
 [2.12775561e+00]
 [2.08296779e+00]
 [2.03924981e+00]
 [1.99688690e+00]
 [1.95485319e+00]
 [1.91432848e+00]
 [1.87353827e+00]
 [1.83467462e+00]
 [1.79605558e+00]
 [1.75820867e+00]
 [1.72110241e+00]
 [1.68494992e+00]
 [1.64922412e+00]
 [1.61450578e+00]
 [1.58043233e+00]
 [1.54668662e+00]
 [1.51357681e+00]
 [1.48135462e+00]
 [1.44989455e+00]
 [1.41891325e+00]
 [1.38847747e+00]
 [1.35882310e+00]
 [1.32980361e+00]
 [1.30163025e+00]
 [1.27332036e+00]
 [1.24643461e+00]
 [1.22000558e+00]
 [1.19348181e+00]
 [1.16793315e+00]
 [1.14305418e+00]
 [1.11824225e+00]
 [1.09415384e+00]
 [1.07075109e+00]
 [1.04795465e+00]
 [1.02592395e+00]
 [1.00378299e+00]
 [9.82686340e-01]
 [9.62011588e-01]
 [9.41522688e-01]
 [9.21859165e-01]
 [9.02571406e-01]
 [8.83563512e-01]
 [8.64761709e-01]
 [8.46906136e-01]
 [8.29624003e-01]
 [8.12371323e-01]
 [7.95272285e-01]
 [7.79315412e-01]
 [7.63114728e-01]
 [7.47244978e-01]
 [7.31885049e-01]
 [7.16810063e-01]
 [7.01999418e-01]
 [6.87784048e-01]
 [6.73730446e-01]
 [6.59952719e-01]
 [6.46630698e-01]
 [6.33527751e-01]
 [6.20689509e-01]
 [6.07830229e-01]
 [5.95890412e-01]
 [5.83793181e-01]
 [5.71813902e-01]
 [5.60451298e-01]
 [5.48827762e-01]
 [5.37754308e-01]
 [5.26972978e-01]
 [5.15968149e-01]
 [5.05650722e-01]
 [4.95278236e-01]
 [4.85306397e-01]
 [4.75305541e-01]
 [4.65710119e-01]
 [4.56188690e-01]
 [4.46720723e-01]
 [4.37922170e-01]
 [4.28739726e-01]
 [4.20009869e-01]
 [4.11576199e-01]
 [4.03134259e-01]
 [3.94352463e-01]
 [3.86311314e-01]
 [3.78142711e-01]
 [3.70287051e-01]
 [3.62588443e-01]
 [3.54796837e-01]
 [3.47437796e-01]
 [3.39909008e-01]
 [3.32605679e-01]
 [3.25450335e-01]
 [3.18493899e-01]
 [3.11817908e-01]
 [3.04715664e-01]
 [2.97972355e-01]
 [2.90861913e-01]
 [2.84694076e-01]
 [2.77940031e-01]
 [2.71388303e-01]
 [2.65414623e-01]
 [2.59309534e-01]
 [2.53140499e-01]
 [2.46796168e-01]
 [2.41109099e-01]
 [2.34980506e-01]
 [2.29441821e-01]
 [2.23347758e-01]
 [2.17735297e-01]
 [2.12230380e-01]
 [2.06549585e-01]
 [2.01249634e-01]
 [1.95900789e-01]
 [1.90585096e-01]
 [1.85479701e-01]
 [1.80299914e-01]
 [1.75293501e-01]
 [1.70152379e-01]
 [1.65255540e-01]
 [1.60804614e-01]
 [1.55897619e-01]
 [1.51526924e-01]
 [1.46703098e-01]
 [1.42179739e-01]
 [1.37670671e-01]
 [1.33448758e-01]
 [1.28987676e-01]
 [1.24653867e-01]
 [1.20343599e-01]
 [1.16482253e-01]
 [1.12102962e-01]
 [1.08284452e-01]
 [1.04337289e-01]
 [1.00259879e-01]
 [9.64194978e-02]
 [9.23876434e-02]
 [8.85483866e-02]
 [8.51437257e-02]
 [8.16447609e-02]
 [7.78904139e-02]
 [7.44612339e-02]
 [7.08745665e-02]
 [6.75248558e-02]
 [6.41012253e-02]
 [6.05325119e-02]
 [5.73657144e-02]
 [5.39004814e-02]
 [5.10353838e-02]
 [4.75395383e-02]
 [4.41225454e-02]
 [4.10312273e-02]
 [3.80333789e-02]
 [3.49880521e-02]
 [3.17433451e-02]
 [2.90623578e-02]
 [2.56898691e-02]
 [2.27187159e-02]
 [1.96382428e-02]
 [1.67658186e-02]
 [1.39056539e-02]
 [1.09913733e-02]
 [8.12917741e-03]
 [5.34746630e-03]
 [2.76393846e-03]
 [0.00000000e+00]]

### Test.csv

In [8]:
df_test = pd.read_csv('/content/drive/My Drive/colab notebooks/Datasets/test.csv')
df_test.head()

   v.id  on road old  on road now  years  ...  economy  top speed   hp  torque
0     1       884463       934463      5  ...        6        152  115     156
1     2       358375       448375      9  ...        8        171   70      95
2     3       925561       955561      3  ...       11        188   67     118
3     4      1190067      1210067      2  ...       14        174   97     155
4     5       419517       479517      6  ...       14        192   91     184

[5 rows x 11 columns]

In [9]:
testing = df_test.drop(columns=['v.id'])
testing = scale(testing)

In [10]:
prediction = model.predict(testing)
df_test['buying price'] = prediction
df_test['buying price'] = df_test['buying price'].astype(int)

In [11]:
df_test = df_test[['v.id','buying price']]

In [12]:
df_test.to_csv('answers.csv')